.DS_Store
visualstudio/CurrentSettings.vssettings
vim/bundle/nerdtree
vim/.netrwhist
emacs/projectile*
emacs/backups/
emacs/elpa/
emacs/emacs_backtrace.txt
emacs/auto-save-list
emacs/ido.last
emacs/places
emacs/bookmarks
emacs/eshell
emacs/recentf
emacs/tramp
configstore/
asciinema/
dfx/
firebase/
gatsby/
gh/
mailscript/
truffle/
verdaccio/
yarn/
tmuxinator/
